

@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

*{   
    font-family: 'Tangerine', cursive !important;
    font-size: 3ch;
    font-weight: bold;
}

#pageContainer {
  height: 100%;
  width: 100%;
  /* background-color: #ff7300; */
  position: relative;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}
#pageImg{
 max-width: 10rem;
 max-height: 100%;
}